.btn {
  margin: 10px;
  padding: 15px 30px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  transition: 0.5s;
  color: $text-color;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  cursor: pointer;

  &.primary {
    // box-shadow: 0px 0px 14px -7px $darkened-neon-pink;
    background-image: linear-gradient(45deg, $neon-orange, $neon-green  51%, $neon-orange  100%);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
      background-position: right center;
      text-decoration: none;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
