.contact-wrapper {
  background-color: $body-bg-dark;
  .contact-nav-link {
    background-color: $body-bg;
    width: fit-content;
    margin: 1rem;
    padding: 0.6rem;
    border-radius: 40px;
    
    &:hover {
      color: $primary;
      box-shadow: inset 0px 2px 5px 0px $body-bg-dark;
    }
  }
}
