footer {
  background-color: $footer-background-color;
  color: $text-color;
  padding: 40px 0;

  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;

    .social-media {
      display: flex;
      flex-direction: column;
    }

    div {
      flex: 1;
      padding: 0 20px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      // font-variant: small-caps;
      text-transform: capitalize;

      svg:hover {
        fill: $text-color;
      }
    }
  }

  .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    .round-avatar {
      background-image: url('../../img/round.png');
      width: 125px;
      height: 125px;
      background-size: cover;
      border-radius: 100%;
    }

    svg {
      margin-left: 5px;
      width: 30px;
      height: 30px;
    }

  }


}


