#contactModal {
  &.modal {
    .btn-close {
      background-color: $primary;
    }

    .modal-content {
      background-color: $dark-grey;
      textarea {
        height: 100px;
        max-height: 120px;
        overflow: auto;
        resize: none;
        &::-webkit-scrollbar {
          width: 0.5em;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      }
      .modal-body {
        height: 350px;
        max-height: 350px; 
        .row {
          .col {
            justify-content: center;
          }
        }
      }
      .form-control:focus{
        border: $primary;
        box-shadow: inset();
      }
      .modal-footer {
        &.button-group {
          border-top: none;
        }
      }
    }
  }
}