header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.551), rgba(0, 0, 0, 0.5)), url('../../img/ayda1.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  background-attachment: fixed;

  .text-wrapper {
    background-color: rgba(0,0,0, 0.4);
    border-radius: 2px;
    padding: 0.5rem;
  }
}