nav {
  overflow: hidden;
  position: sticky;
  transition: top 0.3s;
  top: 0;
  background-color: $navbar-background;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  padding: 5px 0;

  ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    max-width: 1024px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      &.navbar-logo {
        flex-shrink: 0;
        justify-content: flex-start;

        img {
          filter: invert(100%);
          height: 45px;
          margin-left: 5px;
          margin-top: 5px;
        }
      }

      &.navbar-links {
        flex-grow: 10;
        font-size: 1em;
        font-weight: 500;

        a {
          text-transform: uppercase;
          margin-right: 10px;
        }
      }

      &.navbar-socials {
        flex-shrink: 0;
        justify-content: flex-end;
        
        svg {
          margin: 5px;
        }
      }
    }
  }
}
