.project-card {
    // height: 340px;
  .card-img-top {
    height: 150px;
  }
  .card-body {
    height: 100px;
  }

  .card-text {
    max-height: 70px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}