$primary-color: #FF77FF;
$secondary-color: #EE5760;
$third-color: #C25189;
$fourth-color: #805793;

$neon-green: #A8FFA9;
$neon-blue: #89CFFD;
$neon-pink: #FF89B5;
$neon-orange: #FFAB76;
$neon-purple: #BAA8FF;

$darkened-neon-green: darken($neon-green, 20%);
$darkened-neon-blue: darken($neon-blue, 20%);
$darkened-neon-pink: darken($neon-pink, 20%);
$darkened-neon-orange: darken($neon-orange, 20%);
$darkened-neon-purple: darken($neon-purple, 20%);
// grey scale colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;

$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// bg and text colors
$background-color: #010203;
$navbar-background: rgba(23, 23, 23, 0.158);
$text-color: $gray-100;
$text-color: #FFFAF0;
$text-muted: $gray-600;

// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;



