// $background-color: #FAF9F6;
$background-color: #171717;
$nav-background:#171717;
// $nav-background:#17191d;
$almost-black: #222831;
// $background-color: #1A1C20;
$text-color: #FAF9F6;
$soft-gray: #888;
$text-muted: #777;
$jet-black: #343434;
$licorice: #1B1212;
$dark-grey: #121212;
$black: #040D12;
$dark-green: #183D3D;
$light-green: #5C8374;
$accent-color: #F96D00;