$primary:#FF6DAC;
$secondary:#925165;
$dark-grey: #131517;
$neon-purple: #BAA8FF;

$body-bg: #010203;
$body-color:  #FFFAF0;

// $primary-bg-subtle-dark: #131517;
// Navbar and links
$link-decoration: none;
$body-text-align: center;
$link-color: #FFFAF0;

$link-hover-color: $primary;
$navbar-dark-color: #FFFAF0;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $secondary;
$navbar-background: rgba(23, 23, 23, 0.158);
$footer-background-color: #212529;

$section-bg : #16161d;
// Forms
$input-bg: #131517;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark,
  "info":       $info,
  );
  

@import '~bootstrap/scss/bootstrap';