*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
 border: 0;
 font-size: 100%;
//  vertical-align: baseline;
 scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ol, ul, li {
  list-style: none;
  padding: 0;
}



header {
  height: 100vh;
}

h1, h2{ 
  color: #AA4DB9;
}
h1 {
  font-size: 50px
}
h2 {
  font-size: 40px
}

svg {
  fill: $body-color;
}

.sticky-icons {
  width: 25%;
  height: 25vh;
  float: right;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

// Ändrar färg på section
section {
  // background-color: $section-bg;
  // Ändrar färg på bakgrunden till section rows
  .section-wrapper {
    background-color: $section-bg;

  }
  .row {
    background-color: $section-bg;

    .column {
      background-color: #26292E;
    }
  }
}



.round-avatar {
  background-image: url('../img/round.png');
  width: 125px;
  height: 125px;
  background-size: cover;
  border-radius: 100%;
}