*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
 border: 0;
 font-size: 100%;
 vertical-align: baseline;
 scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

ol, ul, li {
  list-style: none;
  padding: 0;
}

section {
  width: 100%;
  padding-top: 60px;
  margin: 60px 0;
  height: 100%;
  height: calc(100vh);
  // background-color: $dark-grey;
}

.divider {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, $neon-pink, $neon-purple, $neon-blue, $neon-green, $neon-orange);
}

h1 {
  font-size: 50px
}
h2 {
  font-size: 40px
}

svg {
  fill: $body-color;
}

a {
  svg:hover {
    fill: $primary
  }
}

// a {
//   text-decoration: none;
//   cursor: pointer;
//   -webkit-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
//   color: $text-color;

//   svg {
//     -webkit-transition: all 0.3s ease-in-out;
//     transition: all 0.3s ease-in-out;
//   }

//   &:hover{
//     color: $darkened-neon-green;
//     color: $owl-pink;

//     svg {
//       fill: $darkened-neon-green;
//       fill: $owl-pink;
//     }
//   }
// }

// .active {
//   color: $secondary-color;
//   color: $owl-pink-dark;
// }

