@import './styles/colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  color: $soft-gray;
  overflow-x: hidden;
  background-color: $background-color;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer, nav {
  background-color: $jet-black;
}
// Navbar
nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;

  .logo-container {
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
  }

  .nav-links {
    margin: auto;
    margin-right: 20px;
    a {
      color: $background-color;
      padding: 10px;
    }
    a:hover,
    a:focus,
    a:active,
    a.active {
        color: #888;
    }
  }
}

// Footer
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $background-color;
  text-align: center;
}
main {
  padding: 1rem 0;
  border: 1px solid black;
  background-color:azure;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

